# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/muskit/Debug/cl.command.1.tlog
/muskit/Debug/muskit.Build.CppClean.log
/muskit/Debug/muskit.lastbuildstate
/muskit/Debug/muskit.log
/muskit/Debug/muskit.unsuccessfulbuild
/muskit/Debug/vc110.idb
/muskit/Debug/vc110.pdb
/muskit/ReadMe.txt
/muskit/muskit.vcxproj.filters

/muskit/Debug/CL.read.1.tlog
/muskit/Debug/CL.write.1.tlog
/muskit/Debug/*.obj
/muskit/Debug/*.obj
/muskit/Debug/*.obj
/muskit/Debug/*.obj
/muskit/Debug/*.obj
/muskit/Debug/*.obj
/muskit/Debug/*.obj
/muskit/Debug/*.obj
